{
  "extends": "airbnb",
  "rules": {
    "camelcase": 1,
    "class-methods-use-this": 0,
    "import/no-commonjs": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}],
    "import/no-unresolved": [2, { "ignore": ["config"] }],
    "jsx-quotes": [1, "prefer-single"],
    "no-underscore-dangle": 0,
    "quotes": [1, "single"],
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "react/require-extension": 0,
    "valid-jsdoc": 2,
    "key-spacing": 0,
    "import/no-dynamic-require": 1
  }
}
